<h1>Export Information</h1>

    ID: <%= @export.id %>
    <br/>
    Export Status: <%= @export.export_status %>
    <br/><br/>
    Number of Records Exported: <%= @export.number_records %>
    <br/><br/>
    Created At: <%= @export.created_at %>
    <br/>
    Updated At: <%= @export.updated_at %>
    <br/>
    Export Ended: <%= @export.export_ended %>
    <br/><br/>
    Export Duration In Minutes: <%= @export.export_duration_in_mins %>
    