<h1>Customer Profile</h1>

ID: <%= @customer.id %><br>
Name: <%= @customer.name %><br>
Location: <%= @customer.location %><br>

<br>

Partner name: <%= @customer.find_partner.name %>
<br/><br/>
<%= link_to "Edit This Customer's Information", edit_customer_path(@customer) %>