<!DOCTYPE html>
<html>
  <head>
    <title>PatientApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
  </head>

  <body>
    <nav>
      <div><%= link_to "All Partners", partners_path %></div>
      <div><%= link_to "All Customers", customers_path %></div>
      <div><%= link_to "All Patients", patients_path %></div>
    </nav>
    <%= yield %>
  </body>
</html>

