<h1>Patient Profile</h1>

    ID: <%= @patient.id %>
    <br/>
    Date of Birth: <%= @patient.date_of_birth %>
    <br/>
    Given Name: <%= @patient.given_name %>
    <br/>
    Familiy Name: <%= @patient.family_name %>
    <br/>
    Phone Number: <%= @patient.phone_number %>
    <br/>
    External ID: <%= @patient.external_id %>
    <br/>
    <br/>
    <br/>
    <br/>
    Customer ID: <%= @patient_customer.id %>
    <br/>
    Customer Name: <%= @patient_customer.name %>
    <br/>
    Customer Location: <%= @patient_customer.location %>
    <br/>
    Partner ID of Customer: <%= @patient_customer.partner_id %>
