<h1>Patient Profile</h1>

    ID: <%= @patient.id %>
    <br/>
    Date of Birth: <%= @patient.date_of_birth %>
    <br/>
    Given Name: <%= @patient.given_name %>
    <br/>
    Familiy Name: <%= @patient.family_name %>
    <br/>
    Phone Number: <%= @patient.phone_number %>
    <br/>
    External ID: <%= @patient.external_id %>
    <br/>
    Customer ID: <%= @patient.customer_id %>
