<h1>Edit Partner</h1>
<br>
<%= form_for @partner do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :location %>
    <%= f.text_field :location %>
    <%= f.submit "Edit Partner"%>
<% end %>



