<h1>Partner Profile</h1>

<%= link_to "Export CSV", partner_path(format: :csv) %>
<br/>
<br/>
    ID: <%= @partner.id %>
    <br/>
    Name: <%= @partner.name %>
    <br/>
    Location: <%= @partner.location %>
    
    <%= link_to "Edit This Partner's Information", edit_partner_path(@partner) %>